@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "inter";
}
html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navbar-top {
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-top-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #161F3E;
}
.navbar-bottom {
    width: 80%;
    float: right;
    display: flex;
    justify-content: end;
}
.popup-menu a {
    color: transparent;
    margin-left: 15px;
    position: relative;
    width: fit-content;
}
.script .popup-menu a {
    color: white;
    font-size: 20px;
    margin-left: 15px;
    transition: 0.3s ease-in-out;
}
.script .popup-menu a:hover {
    color: #315EFF;
}
.script .popup-menu a::before {
    content: "";
    width: 0%;
    transition: 0.3s ease-in-out;
}
.script .popup-menu a:hover::before {
    content: "";
    position: absolute;
    background: #315EFF;
    width: 100%;
    height: 3px;
    bottom: -10px;
    left: 0;
}
.popup-menu {
    width: 0%;
    height: 0px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
    margin-top: 20px;
    box-shadow: 0px 3px 5px black;
}
.script .popup-menu {
    width: 50%;
    height: 250px;
    background: #31417d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 12px;
    margin-top: 20px;
}


.logo {
    font-size: 32px;
}
.logo::before {
    content: "Arry";
    color: white;
}
.logo::after {
    content: "Putra";
    color: #315EFF;
}

.menu {
    width: 40px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    background: #315EFF;
}
.menu div {
    width: 100%;
    height: 4px;
    background: white;
    position: absolute;
    transition: 0.3s ease-in-out;
}
.menu :nth-child(1) {
    transform: translateY(-300%);
}
.menu :nth-child(3) {
    transform: translateY(300%);
}

.script .menu :nth-child(1) {
    transform: rotate(-45deg);
}
.script .menu :nth-child(2) {
    transform: translateX(100%);
    background: none;
}
.script .menu :nth-child(3) {
    transform: rotate(45deg);
}

/* HOME */
.home {
    background: #161F3E;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-header {
    width: 100%;
    height: 20vh;
}

.home-middle {
    width: 80%;
    height: 60vh;
}
.intro {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}
.avatar {
    width: 220px;
}
.intro-desc {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
    color: white;
    text-align: center;
}

.slide-text {
    color: #315EFF;
    display: flex;
    height: 35px;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}
.slide-text span:first-child {
    animation: slide-text 5s alternate infinite;
}
@keyframes slide-text {
    0% {
        margin-top: 0px;
    }
    30% {
        margin-top: 0px;
    }
    40% {
        margin-top: -40px;
    }
    70% {
        margin-top: -40px;
    }
    80% {
        margin-top: -80px;
    }
    100% {
        margin-top: -80px;
    }
}

.intro-desc button {
    background: linear-gradient(to right, #4131FF, #315EFF);
    border: none;
    width: 140px;
    height: 35px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    border-radius: 99px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.intro-desc button:hover {
    width: 200px;
}


.home-footer {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: flex-end;
}
.home-footer div {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #161F3E, #315EFF);
}

/* ABOUT */
.about {
    width: 100%;
    padding: 50px 0px;
    background: #f8f8ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-header {
    width: 80%;
    max-width: 800px;
}
.about-tittle {
    color: #315EFF;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-desc {
    font-size: 20px;
    padding: 10px 0px;
    color: #31417d;
}

.about-middle {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
}
.about-middle div {
    width: 100%;
    height: 5px;
    background: #315EFF;
}

.about-footer {
    width: 80%;
}
.education,
.experience {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-desc {
    font-size: 20px;
    color: #161F3E;

}

/* SKILLS */
.skills {
    background: #161F3E;
    width: 100%;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skills-header {
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    padding-bottom: 30px;
}
.skills-footer {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.skills-tittle {
    font-size: 25px;
    color: white;
    padding: 20px 0px;
}

.skills-container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    padding-bottom: 20px;
    max-width: 400px;
    /* background: cadetblue; */
}
.skills-img {
    background: linear-gradient(to bottom, #315EFF, #161F3E);
    width: 100%;
    height: 120%;
    border-radius: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.skills-img img {
    width: 20%;
    height: fit-content;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.skills-img img:hover {
    margin-bottom: 18px;
}

/* PROJECT */
.project {
    width: 100%;
    padding: 50px 0px;
    background: #f8f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project-header {
    text-align: center;
    font-size: 30px;
    color: #161F3E;
    margin-bottom: 40px;
    position: relative;
}
.project-header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #315EFF;
    left: 0;
    bottom: -10px;
}
.project-footer {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.project-container {
    width: 100%;
    max-width: 340px;
    padding: 10px;
    cursor: pointer;
}
.project-img {
    border-radius: 16px 16px 0px 0px;
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.project-tittle {
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #315EFF;
    font-size: 20px;
    padding: 10px 0px;
    border-radius: 0px 0px 16px 16px;
    text-align: center;
}

/* CONTACT */
.contact {
    background: #161F3E;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
.contact-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-tittle {
    font-size: 30px;
}
.contact-header {
    margin-bottom: 30px;
    padding-right: 20px;
}
.social-media-img {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.social-media-img img {
    margin-right: 10px;
    width: 40px;
}
.contact-footer {
    display: flex;
    flex-direction: column;
    width: 450px;
}
.contact-input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.contact-input {
    gap: 20px;
}
.contact-input input,
.contact-input textarea {
    background: #315EFF;
    border: none;
    border-radius: 16px;
    color: white;
    font-weight: 700;
    outline: none;
    font-size: 18px;
    padding: 10px;
}
.contact-input input::-webkit-input-placeholder,
.contact-input textarea::-webkit-input-placeholder {
    color: white;
    opacity: 0.5;
}

.contact-input textarea {
    height: 160px;
    resize: none;
    font-family: "Inter";
}
.button-send {
    border-radius: 16px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    color: white;
    cursor: pointer;
    background: linear-gradient(to right,  #4131FF,  #315EFF);
}

/* GARBAGE */
a {
    text-decoration: none;
    color: white;
}
.menu-dekstop {
    display: none;
}

@media screen and (min-width : 750px) {
    .menu,
    .script .popup-menu {
        display: none;
    }
    .menu-dekstop {
        display: block;
        width: 60%;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }
    .menu-dekstop a {
        transition: 0.3s ease-in-out;
        position: relative;
    }
    .menu-dekstop a:hover {
        color: #315EFF;
    }
    .menu-dekstop a::before {
        content: "";
        width: 0%;
        transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    .menu-dekstop a:hover::before {
        content: "";
        position: absolute;
        background: #315EFF;
        width: 100%;
        height: 3px;
        bottom: -10px;
        left: 0;
    }

    .intro {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .intro-desc {
        text-align: start;
    }
    .slide-text {
        text-align: left;
    }

    .about {
        padding: 70px 0px;
    }
    .about-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .skills-container {
        width: 30%;
        height: 240px;
        justify-content: space-evenly;
    }

    
}    
